.side-banner *{
    box-sizing: border-box;
}
.side-banner{
    position: fixed;
    z-index: 9001;
    height: 270px; 
    bottom: 28px;
    right: 0;
    width: 70px;
}
.side-banner.sb-expanded{
    bottom: 57px; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: expandBanner 0.5s forwards;
    -webkit-animation-delay: 0;
    animation: expandBanner 0.5s forwards;
    animation-delay: 0;
}
.side-banner .sb-side-img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.side-banner.sb-expanded .sb-side-img{
    display: none;
}
.side-banner-ex-overlay{
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 310px; 
    bottom: 35px; 
    left: 0;
    background-color: #000000;
    display: none;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /* Good browsers */
    opacity: 0.7;
}
.side-banner-ex-overlay.sb-expanded{
    display: block;
}
.side-banner .sb-ex-img-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.side-banner .sb-ex-img-container .sb-ex-img{
    width: 100%;
    height: auto;
    cursor: pointer;
    display: none;
}
.side-banner.sb-expanded .sb-ex-img-container .sb-ex-img{
    display: block;
}
.side-banner .sb-ex-img-container .sb-ex-close{
    display: none;
    cursor: pointer;
}
.side-banner .sb-ex-img-container .sb-ex-close2{
    display: none;
    cursor: pointer;
}
.side-banner.sb-expanded .sb-ex-img-container .sb-ex-close2{
    display: block;
}

@media (min-width: 1024px){
    .side-banner-ex-overlay{
        height: 270px;
    }
    .side-banner.sb-expanded{
        bottom: 35px;
    }
    .side-banner.sb-expanded .sb-ex-img-container{
        width: 970px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .side-banner .sb-ex-img-container .sb-ex-img{
        width: 96.03%;
    }
    .side-banner.sb-expanded .sb-ex-img-container .sb-ex-close{
        display: block;
        width: 3.96%;
        height: auto;
    }
    .side-banner .sb-ex-img-container .sb-ex-close2{
        display: none !important;
    }
}

@-webkit-keyframes expandBanner {
    100% { width: 100%; }
}

@keyframes expandBanner {
    100% { width: 100%; }
}